<!--Student Name: Matheus Teixeira - Student ID: 301236904-->
<footer style="clear:both" name="teste">
    <hr>
    <small>
        &copy;&nbsp;&nbsp;&nbsp;Copyright Matheus Teixeira, 301236904,
        Fall 2022.
    </small>
    <hr>
</footer>
</div>
<script>
    var getTitle = "<%= title %>";
</script>
<script src="/script/appclient.js"></script>    
</body>
</html>
