<!--
    File name     : error.ejs
    Student's name: Matheus Teixeira
    Student's ID  : 301236904
    Date          : October 29, 2022
    author        : Julio Vinicius
    edited by     : Matheus Teixeira
-->
<h1><%= message %></h1>
<h2><%= error.status %></h2>
<pre><%= error.stack %></pre>
