<!--Student Name: Matheus Teixeira - Student ID: 301236904
----Template to be used with forms. The only needed form until now is the
----contact form.
-->
<% include partials/header.ejs %>
<main>
    <br>
    <form>
        <fieldset>
            <legend>Client info and message</legend>
            <div>
                <div>
                    <label for="firstName">First Name: &nbsp;</label>
                    <input type="text" name="firstName" id="firstName" autofocus
                        placeholder = "First Name" maxlength="16"
                        title="This is a required field.&#10;It can contain up to 16 characteres."
                        tabindex="5"
                    />
                </div>
                <div>
                    <label for="lastName">Last Name: &nbsp;</label>
                    <input type="text" name="lastName" id="lastName"
                        placeholder="Last Name" maxlength="31"
                        title="This is a required field.&#10;It can contain up to 31 characteres."
                        tabindex="10"
                    />
                </div>
                <div>
                    <label for="cellNumber">Telephone: &nbsp;</label>
                    <input type="text" name="cellNumber" id="cellNumber"
                        placeholder="555-555-5555" maxlength="12"
                        title="This is a required field.&#10;It can contain up to 12 characteres."
                        tabindex="15"
                    />
                </div>
                <div>
                    <label for="email">E-mail: &nbsp;</label>
                    <input type="email" name="email" id="email"
                        placeholder="username@provider.ca" minlength="6" maxlength="254"
                        title="This is a required field.&#10;a)It must start with some of valid caracteres (letter, number, -, or _)&#10;b) be followed by @&#10;c) then some valid caracteres&#10;d) be followed by a single dot (.)&#10;d) end with a valid top level domain"
                        tabindex="50"
                    />
                </div>
                <div>
                    <br>
                    <h3>What do you need today?</h3>
                    <br>
                    <textarea id="message" name="message" rows="5" tabindex="55"
                    placeholder=""
                    style="width: 100%;">
                    </textarea>
                </div>
            </div>
            <div class="buttonDiv">
                <input class="button" type="submit" name="submit" id="submit" value="Send" tabindex="55">
                <input class="button" type="reset" name="clear" id="clear" value="Clear" tabindex="60">
            </div>
        </fieldset>
        <fieldset style="text-align: left;">
            <legend>Other ways to reach me</legend>
            Email: mferre77@my.centennialcollege.ca <br>
            Telephone: (647) 512 5000 <br>
            LinkedIn: https://www.linkedin.com/in/mathteixeira/
        </fieldset>
        <br/>
    </form>
</main>

<% include partials/footer.ejs %>