/* File name     : form.css
** Student's name: Matheus Teixeira
** Student's ID  : 301236904
** Date          : October 08, 2022
 */
 .button {
    width: 10em;
}

label {
    margin: 0;
    padding: 0;
    clear: both;
    width: 160px;
    float: left;
    text-align: right;
  }
